<h1><%= @cocktail.name %></h1>

<h2><%= link_to "add a dose", new_cocktail_dose_path(@cocktail) %></h2>



<h2>Doses:</h2>
<% @cocktail.doses.each do |dose| %>
  <p><%= dose.description %> of <%= dose.ingredient[:name] %></p>

<% end %>

<h2><%= link_to "back", cocktails_path %></h2>
